	
	* { //debugging only
		//outline: 1px dashed red; 
		} 
	body{
		margin:1em auto;
		max-width:40em;
		padding:0 .01em;
		font:1.2em/1.62 sans-serif;
	}
	h1.logo { 
		text-align: center;
		line-height:1.0;	
		font-size: 35pt;
		text-decoration: underline;
		a:link { color: black; }
		a:visited { color: black; }
		a:hover, a:active { color: black; }
		}
	h2,h3 {
		line-height:1.0;
		text-align: left;
	}
	h2 a, h2 a:link { color: black; }
	h2 a:visited { color: black; }
	h2 a:hover, h2 a:active { color: black; }
	@media print{
		body{
			max-width:none
		}
	}